.s1 {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.s1 button {
  height: 50px;
  width: 50px;
  margin: 10px;
  font-size: 24px;
  border-radius: 5px;
  border: none;
  background-color: crimson;
  color: white;
}
.s1 button:hover {
  transition: 0.3s all ease;
  background-color: rgb(230, 59, 93);
  cursor: pointer;
}
.s1 span {
  font-size: 44px;
  font-weight: bold;
}
